@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
@import 'https://fonts.googleapis.com/css?family=Raleway';
* {
  box-sizing: border-box; }

/*

CORE

*/
.width1, .width2, .width3, .width3_2, .width4, .width4_3, .width5, .width5_2, .width5_3, .width5_4, .width6, .width8, .width10, .width12 {
  float: left; }

.hide {
  display: none; }

.siteWidth {
  margin-left: auto;
  margin-right: auto;
  width: 2000px; }

.widthInsideSmall {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%; }

.widthInside {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%; }

.widthInsideBig {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%; }

.siteWidthLeft {
  float: right; }

.siteWidthRight {
  float: left; }

.width1 {
  width: 100%; }

.width2 {
  width: 50%; }

.width3 {
  width: 33.333%; }

.width3_2 {
  width: 66.666%; }

.width4 {
  width: 25%; }

.width4_3 {
  width: 75%; }

.width5 {
  width: 20%; }

.width5_2 {
  width: 40%; }

.width5_3 {
  width: 60%; }

.width5_4 {
  width: 80%; }

.width6 {
  width: 16.666%; }

.width8 {
  width: 12.5%; }

.width10 {
  width: 10%; }

.width12 {
  width: 8.333%; }

@media (min-width: 2201px) {
  .siteWidth {
    margin-left: auto;
    margin-right: auto;
    width: 1800px; }
  .siteWidthLeft {
    width: 900px; }
  .siteWidthRight {
    width: 900px; }
  .width1 {
    width: 100%; }
  .width2 {
    width: 50%; }
  .width3 {
    width: 33.333%; }
  .width3_2 {
    width: 66.666%; }
  .width4 {
    width: 25%; }
  .width4_3 {
    width: 75%; }
  .width5 {
    width: 20%; }
  .width5_2 {
    width: 40%; }
  .width5_3 {
    width: 60%; }
  .width5_4 {
    width: 80%; }
  .width6 {
    width: 16.666%; }
  .width8 {
    width: 12.5%; }
  .width10 {
    width: 10%; }
  .width12 {
    width: 8.333%; } }

@media (max-width: 2200px) {
  .siteWidth {
    width: 1500px; }
  .siteWidthLeft {
    width: 600px; }
  .siteWidthRight {
    width: 600px; }
  .width1 {
    width: 100%; }
  .width2 {
    width: 50%; }
  .width3 {
    width: 33.333%; }
  .width3_2 {
    width: 66.666%; }
  .width4 {
    width: 25%; }
  .width4_3 {
    width: 75%; }
  .width5 {
    width: 20%; }
  .width5_2 {
    width: 40%; }
  .width5_3 {
    width: 60%; }
  .width5_4 {
    width: 80%; }
  .width6 {
    width: 16.666%; }
  .width8 {
    width: 12.5%; }
  .width10 {
    width: 10%; }
  .width12 {
    width: 8.333%; } }

@media (max-width: 1600px) {
  .siteWidth {
    width: 990px; }
  .siteWidthLeft {
    width: 495px; }
  .siteWidthRight {
    width: 495px; }
  .width1 {
    width: 100%; }
  .width2 {
    width: 50%; }
  .width3 {
    width: 33.333%; }
  .width3_2 {
    width: 66.666%; }
  .width4 {
    width: 25%; }
  .width4_3 {
    width: 75%; }
  .width5 {
    width: 20%; }
  .width5_2 {
    width: 40%; }
  .width5_3 {
    width: 60%; }
  .width5_4 {
    width: 80%; }
  .width6 {
    width: 33.333%; }
  .width8 {
    width: 25%; }
  .width10 {
    width: 20%; }
  .width12 {
    width: 33.333%; } }

@media (max-width: 992px) {
  .siteWidth {
    width: 540px; }
  .siteWidthLeft {
    width: 380px; }
  .siteWidthRight {
    width: 380px; }
  .width1 {
    width: 100%; }
  .width2 {
    width: 50%; }
  .width3 {
    width: 100%; }
  .width3_2 {
    width: 100%; }
  .width4 {
    width: 50%; }
  .width4_3 {
    width: 75%; }
  .width5 {
    width: 20%; }
  .width5_2 {
    width: 40%; }
  .width5_3 {
    width: 60%; }
  .width5_4 {
    width: 80%; }
  .width6 {
    width: 100%; }
  .width8 {
    width: 50%; }
  .width10 {
    width: 50%; }
  .width12 {
    width: 100%; } }

@media (max-width: 550px) {
  .siteWidth {
    width: 100%; }
  .widthInsideSmall {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .widthInside {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .widthInsideBig {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .siteWidthLeft {
    width: 50%; }
  .siteWidthRight {
    width: 50%; }
  .width1 {
    width: 100%; }
  .width2 {
    width: 100%; }
  .width3 {
    width: 100%; }
  .width3_2 {
    width: 100%; }
  .width4 {
    width: 100%; }
  .width4_3 {
    width: 100%; }
  .width5 {
    width: 100%; }
  .width5_2 {
    width: 100%; }
  .width5_3 {
    width: 100%; }
  .width5_4 {
    width: 100%; }
  .width6 {
    width: 100%; }
  .width8 {
    width: 100%; }
  .width10 {
    width: 100%; }
  .width12 {
    width: 100%; } }

img {
  max-width: 100%;
  height: auto;
  display: block; }

.centerParent {
  display: flex;
  align-items: center;
  justify-content: center; }

.centerChild {
  display: table-cell;
  text-align: center;
  vertical-align: middle; }

a {
  text-decoration: none; }

/*

INTERACTION

*/
/*
    Thanks to Keith Clark for the intial ideas and guides!
    http://keithclark.co.uk/articles/pure-css-parallax-websites/
 */
/**
 * Usage
 * add parallax-Block to div
 *
 * add parallax layer to divs inside the parallax block.
 * (or use the defaults of .main and .back)
 *
 * change the Z translantion of the layers for faster and slower movement:
 *  LOWER Z = Slower
 *  HIGHER Z = Faster
 *  (Closer and further from camera)
 *
 *
 * FOR GROUPS:
 * make a par_group div and add the group mixin, put your par_layers inside it. ez.
 */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto; }
  .parallax .parallax-group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d; }
    .parallax .parallax-group .main {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(0);
      transform: scale(1/px); }
    .parallax .parallax-group .back {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transform: translateZ(1px);
      transform: scale(0); }

.button-transparent, .button-submit {
  padding: 6px 12px;
  font-weight: bold;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  cursor: pointer;
  font-size: 11pt; }

.button-transparent, .button-submit {
  border: #fff 2px solid;
  color: #2383cf;
  background-color: transparent; }
  .button-transparent:hover, .button-submit:hover {
    color: #fff;
    border-color: #2383cf;
    background-color: rgba(35, 131, 207, 0.2); }

.button-submit {
  max-width: 40%; }

/*

VENDOR

*/
nav.ubermenu, #ubermenu-main-2-main-menu {
  box-shadow: none;
  background: none;
  border: none; }
  nav.ubermenu ul li a, #ubermenu-main-2-main-menu ul li a {
    color: #fff;
    background: none;
    box-shadow: none;
    border: none; }

.ubermenu-responsive-toggle {
  box-shadow: none;
  border: none;
  background-color: transparent !important; }

.menuBar {
  background-color: #111; }
  .menuBar #ubermenu-main-2-main-menu {
    box-shadow: none;
    background: none;
    border: none; }
    .menuBar #ubermenu-main-2-main-menu ul li a {
      color: #fff;
      background: none;
      box-shadow: none;
      border: none;
      transition: all 0.5s ease 0s;
      -moz-transition: all 0.5s ease 0s;
      -webkit-transition: all 0.5s ease 0s; }
      .menuBar #ubermenu-main-2-main-menu ul li a:hover {
        color: #2383cf; }
    .menuBar #ubermenu-main-2-main-menu ul li ul {
      margin-top: -1px; }

.wpcf7-form p {
  padding: 0;
  margin: 0; }

.wpcf7-form input {
  max-width: 100%; }

.wpcf7-form .sidebarContactForm p, .wpcf7-form .homepageContactForm p {
  padding: 6px 12px; }

.wpcf7-form .sidebarContactForm .wpcf7-form-control-wrap input, .wpcf7-form .homepageContactForm .wpcf7-form-control-wrap input, .wpcf7-form .sidebarContactForm .wpcf7-form-control-wrap textarea, .wpcf7-form .homepageContactForm .wpcf7-form-control-wrap textarea {
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-size: 11pt;
  padding: 6px 12px;
  color: #333;
  border: #2383cf 2px solid; }
  .wpcf7-form .sidebarContactForm .wpcf7-form-control-wrap input:hover, .wpcf7-form .homepageContactForm .wpcf7-form-control-wrap input:hover, .wpcf7-form .sidebarContactForm .wpcf7-form-control-wrap textarea:hover, .wpcf7-form .homepageContactForm .wpcf7-form-control-wrap textarea:hover {
    border: transparent 2px solid; }

.wpcf7-form .sidebarContactForm .wpcf7-form-control-wrap input, .wpcf7-form .homepageContactForm .wpcf7-form-control-wrap input {
  height: 48px; }

.wpcf7-form .sidebarContactForm .wpcf7-form-control-wrap textarea, .wpcf7-form .homepageContactForm .wpcf7-form-control-wrap textarea {
  resize: none;
  max-height: 150px; }

.wpcf7-form .sidebarContactForm .wpcf7-submit, .wpcf7-form .homepageContactForm .wpcf7-submit {
  width: 40%;
  margin-left: 30%; }

@media (max-width: 550px) {
  .wpcf7-form .sidebarContactForm .wpcf7-submit, .wpcf7-form .homepageContactForm .wpcf7-submit {
    padding: 40px; } }

.wpcf7-form .wpcf7-response-output {
  text-align: center;
  font-weight: bold;
  padding: 12px; }

.wpcf7-form .wpcf7-validation-errors {
  border: none;
  border-top: #c76300 2px solid;
  border-bottom: #c76300 2px solid;
  color: #ffb061; }

.wpcf7-form .wpcf7-mail-sent-ok {
  border: none;
  border-top: #398f14 2px solid;
  border-bottom: #398f14 2px solid;
  color: #81e755; }

/*

STYLE

*/
.page_homepage .sliderBar, .page_homepage .featureBar, .page_homepage .aboutBar, .page_homepage .actionBar {
  padding: 12px 0;
  width: 100%;
  float: left;
  background-color: #333;
  color: #fff; }

body {
  font-family: "Noto Sans", sans-serif;
  color: #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  margin: 6px 12px; }

h1 {
  font-size: 2.2em; }

h2 {
  font-size: 2.0em; }

h3 {
  font-size: 1.8em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.4em; }

h6 {
  font-size: 1.2em; }

p {
  padding: 6px 12px; }

strong {
  font-weight: bold; }

em {
  font-style: italic; }

a {
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  color: #cccccc; }
  a:hover {
    color: #2383cf; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.page_default {
  background-color: #333; }
  .page_default .titleBar {
    padding: 6px 0;
    background-color: #eee;
    color: #2383cf; }
  .page_default .pageContent {
    padding: 6px 0; }
  .page_default .pageSidebar {
    padding: 12px 0; }
  .page_default .pricingBlock .pricingWrapper {
    padding: 12px; }
    .page_default .pricingBlock .pricingWrapper .pricingWidget {
      padding: 12px;
      color: #fff;
      background-color: #144c78;
      text-align: center;
      border-radius: 10px;
      min-height: 320px;
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75); }
      @media (max-width: 992px) {
        .page_default .pricingBlock .pricingWrapper .pricingWidget {
          min-height: 200px; } }
      @media (max-width: 550px) {
        .page_default .pricingBlock .pricingWrapper .pricingWidget {
          min-height: 200px; } }
      .page_default .pricingBlock .pricingWrapper .pricingWidget p:nth-child(1) {
        font-size: 10pt; }

.headerBar {
  background-color: #111; }
  .headerBar .menuBar {
    background-color: #333; }
  .headerBar img {
    max-height: 100px;
    width: auto; }

.footerBar {
  padding-top: 12px;
  background-color: #111;
  color: #fff; }
  .footerBar .copyrightBar {
    padding: 6px 0; }

body {
  background-color: #111;
  margin: 0; }

.debugHeader {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 50px;
  padding: 10px 5px;
  background-color: #fff;
  color: #000;
  opacity: 0.4;
  display: block; }
  .debugHeader p {
    font-weight: bolder;
    padding: 0 12px;
    margin: 0; }
  .debugHeader span {
    display: inline-block; }
  .debugHeader #dbg-responsive-level {
    color: red; }
    @media (min-width: 2201px) {
      .debugHeader #dbg-responsive-level p:after {
        content: "max"; } }
    @media (max-width: 2200px) {
      .debugHeader #dbg-responsive-level p:after {
        content: "huge"; } }
    @media (max-width: 1600px) {
      .debugHeader #dbg-responsive-level p:after {
        content: "large"; } }
    @media (max-width: 992px) {
      .debugHeader #dbg-responsive-level p:after {
        content: "medium"; } }
    @media (max-width: 550px) {
      .debugHeader #dbg-responsive-level p:after {
        content: "small"; } }
    .debugHeader #dbg-responsive-level p {
      padding: 0; }

body {
  margin-bottom: 20px; }

/*
* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
*/
/*
//# sourceMappingURL=main.css.map
*/
