.fullScreen{
    width: 100vw;
    height: 100vh;
}
.parallax{
    $perspective: 1px;
    @include parallax-block($perspective);
    .parallax-group{
        @include parallax-group;
        .main{
            @include parallax-layer(0,$perspective);
        }
        .back{
            @include parallax-layer(-0.05px,$perspective);
        }
    }
    .maincontent{
        float: left;
        width: 100%;
        .widget{
            height: 300vh;
        }
    }
}
